.main-body {
    height: calc(100% - 150px);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    overflow-y: auto;
    overflow-x: auto;

    h3 {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .noti {
        color: rgb(57, 196, 15);
        font-size: 20px;
    }

    .forma {
        width: 400px;
        .forma-ht {
            min-height: 475px;
        }
        .non-show {
            display: none;
        }
    }
    
    .input-type {
        font-family: "Nunito";
        width: 100%;
        max-width: 100%;
        height: 25px;
        border-style: none;
        border-bottom: 0.1rem solid rgb(150, 150, 150);
        box-sizing: border-box;
        padding: 0px 0px;

        font-family: "Nunito";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        margin: 0px;
        border-radius: 0px;

        margin: 7px 0px;

        &:focus {
            border-style: 0;
            border-bottom: 0.15rem solid #0CB7F2 !important;
            outline: none;
            box-sizing: border-box;
        }
    }

    .input-text {
        width: 100%;
        max-width: 100%;
        border: 0.1rem solid #0CB7F2 !important;

        font-family: "Nunito";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        &:focus {
            border: 0.1rem solid #0CB7F2 !important;
            outline: none;
            
        }
    }

    .customing-select {
        position: relative;
        border-bottom: 1.5px solid #0CB7F2;
        width: 100%;
        height: 25px;
        margin: 17px 0px;
        select {
            padding: 0px;
            font-family: "Nunito";
            width: 100%;
            background: white;
            border: 0;
            outline: none;
            
            font-style: normal;
            font-size: 12px;
            text-transform: capitalize;
            cursor: pointer;

        }
        select[editable] > button { 
            stroke: #f00 !important;
        }
    }

    .button-line {
        margin-top: 15px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .next {
            background: #0CB7F2;
            border-style: none;
            outline: none;
            font-family: "Nunito";
            height: 40px;
            width: 300px;
            color: white;
            &:hover {
                cursor: pointer;
                background: rgb(9, 144, 189);
            }
        }
        .is-red {
            margin-top: 15px;
            background: rgb(145, 16, 16);
            font-weight: bold;
            &:hover {
                cursor: pointer;
                background: rgb(99, 10, 10);
            }
        }
        
        .button-red {

        }
    }

}